@import "../../../shared";

:host {
  display: flex;
  position: relative;
  flex: 1 0;
}

.controls {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
}

.my-coins {
  margin-bottom: 16px;

  .my-coin-list {
    @extend .responsive-grid, .xs-2;

    app-my-coin-badge {
      margin-bottom: 16px;
    }
  }
}

.totals {
  margin-bottom: 16px;

  .total-list {
    .total {
      margin-bottom: 6px;
      background: $accent-color;
      color: $primary-color-text;
      padding: 8px 12px;
      font-size: 21px;
      display: flex;
      align-items: baseline;

      i {
        margin-right: 6px;
      }

      img {
        height: 24px;
        margin-right: 16px;
        align-self: center;
      }
    }
  }
}
