<div class="responsive-container">
  <div class="my-coins">
    <h2>Wallet</h2>
    <div class="my-coin-list">
      <app-my-coin-badge
        *ngFor="let myCoin of myCoins"
        [myCoin]="myCoin"
      ></app-my-coin-badge>
    </div>
  </div>
  <div class="totals">
    <h2>Lambo fund</h2>
    <div class="total-list">
      <div class="total"><i class="fa fa-usd"></i> {{totals.usd | number : '1.2-2'}}</div>
      <div class="total"><i class="fa fa-btc"></i> {{totals.btc | number : '1.6-6'}}</div>
      <div class="total">PLN {{totals.pln | number : '1.2-2'}}</div>
      <div class="total"><img src="assets/icons/lambo.svg"> {{totals.lambo | number : '1.8-8'}}</div>
    </div>
  </div>
</div>
<div class="controls">
  <button (click)="onRefreshClick();"><i class="fa fa-refresh"></i></button>
</div>
