@import "../../../shared";

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  background: $accent-color;
  width: 140px;
  padding: 12px;
}

a {
  color: #fff;
  padding: 2px;
  margin-bottom: 6px;
  font-size: 24px;
}
