@import "../../../shared";

:host {

}

.refresh {
  font-size: 30px;
  position: fixed;
  top: 0;
  right: 0;
  padding: 8px;
  color: $accent-color;
}

h2 {

}

.coins {
  margin-bottom: 16px;

  .coin-list {
    @extend .responsive-grid, .xs-2;
  }
}

.my-coins {
  margin-bottom: 16px;

  .my-coin-list {
    @extend .responsive-grid, .xs-2;
  }
}

.totals {
  margin-bottom: 16px;

  .total-list {
    .total {
      margin-bottom: 6px;
      background: $accent-color;
      color: $primary-color-text;
      padding: 12px;
      font-size: 26px;
    }
  }
}
