@import "../../../shared";

:host {

}

h2 {

}

.coins {
  margin-bottom: 16px;

  .coin-list {
    @extend .responsive-grid, .xs-2;
  }
}

.my-coins {
  margin-bottom: 16px;

  .my-coin-list {
    @extend .responsive-grid, .xs-2;
  }
}

.totals {
  .total {
    margin-bottom: 6px;
  }
}
