@import url('https://fonts.googleapis.com/css?family=Asap+Condensed');
@import "shared";

body {
  font-family: 'Asap Condensed', sans-serif;
  font-size: 18px;
  color: $primary-text-color;
  background: #fff;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 26px;
  margin: 18px 0 12px;
}
