@import "../../../shared";

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background: $accent-color;
  padding: 0 8px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0 none;

  img {
    height: 32px;
  }
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    background: $accent-color;
    color: #fff;
    font-size: 40px;
  }
}
